<head><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"></head>
<table>
<thead>
<th>Id</th>
<th>Name </th>
<th>Surface </th>
<th>Price </th>
<th>Players</th>
</thead>
<tbody>
<tr *ngFor='let field of fields'>
  
  <td>{{field.fieldId}}</td>
  <td><a [routerLink]="['/field', field.fieldId]">{{field.name}}</a></td>
  <td>{{field.surface}}</td>
  <td>{{field.price}}</td>
  <td>{{field.players}}</td>
  
</tr>
</tbody>
</table>
