<div class="card">
  <div class="card-header">
    Add Field!
  </div>
  <p><!--Paragraph to divide the card header from the inputs--></p>

  <div class="card-body">
    <form novalidate
          (ngSubmit)="save(addField)"
          #addField="ngForm">

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="nameId"><b>Name</b></label>
        <div class="col-md-8">
          <input class="form-control"
                 id="name"
                 type="text" 
                 placeholder="Name (required)"
                 required
                 minlength="3"
                 [(ngModel)]=field.name
                 name="Name"
                 #nameVar="ngModel"
                 [ngClass]="{'is-invalid': (nameVar.touched || nameVar.dirty) && !nameVar.valid }" />
          <span class="invalid-feedback">
            <span *ngIf="nameVar?.errors?.required">
              Please enter field name.
            </span>
            <span *ngIf="nameVar?.errors?.minlength">
              The name must be longer than 3 characters.
            </span>
          </span>
        </div>
      </div>   

      <p><!--Paragraph to divide the select from the input name--></p>

        <div class="form-group row mb-2">
            <label class="col-md-2 col-form-label"
            for="surfaceId"><b>Surface</b></label>
            <div class="col-md-8">
            <select class="form-control"
                    id="surfaceId"
                      [(ngModel)] = "field.surface"
                    name="surface">
              <option value=""
                      disabled
                      selected
                      hidden>Select the type of surface...</option>
              <option value="{{surfaces.Clay}}">Clay</option>
              <option value="{{surfaces.Grass}}">Grass</option>
              <option value="{{surfaces.Concrete}}">Concrete</option>
            </select>
          </div>
        </div>
      <!--<div class="form-group row mb-2"> 
        <label class="col-md-2 col-form-label"
               for="surface">Surface</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="surface"
                 type="number"
                 placeholder="Surface (required)"
                 required
                 min = "0"
                 maxlength="25"
                 [(ngModel)]="field.surface"
                 name="surface"
                 #surfaceVar="ngModel"
                 [ngClass]="{'is-invalid': (surfaceVar.touched || surfaceVar.dirty) && !surfaceVar.valid }" />
          <span class="invalid-feedback">
            <span *ngIf="surfaceVar?.errors?.required">
              Please enter the surface of the field.
            </span>
            <span *ngIf="surfaceVar?.errors?.min">
              Please enter a surface greater than 0.
            </span>
          </span>
        </div>
      </div>
    -->
      <!--<h4>Basic select</h4>
      <select placeholder="Surfaces">
        <option *ngFor="let surface of 2" [value]="field.surface">
          {{field.surface}}
        </option>
      </select>-->
    
<p><!--Paragraph to divide the select from the input price--></p>
        <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="price"><b>Price</b></label>
        <div class="col-md-8">
          <input class="form-control"
                 id="price"
                 type="number"
                 placeholder="Price (required)"
                 required
                 min = "0"
                 [(ngModel)]="field.price"
                 name="price"
                 #priceVar="ngModel"
                 [ngClass]="{'is-invalid': (priceVar.touched || priceVar.dirty) && !priceVar.valid }" />
          <span class="invalid-feedback">
            <span *ngIf="priceVar?.errors?.required">
              Please enter the price of the field.
            </span>
            <span *ngIf="priceVar?.errors?.min">
              Please enter a price greater than 0.
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-4">
          <button class="btn btn-primary mr-3"
                  type="submit"
                  style="width:80px"
                  [title]="addField.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                  [disabled]="!addField.valid">
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<br>Dirty: {{ addField.dirty }}
<br>Touched: {{ addField.touched }}
<br>Valid: {{ addField.valid }}
<br>Value: {{ addField.value | json }}