<head><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"></head>
<table class="table-striped">
<thead>
<th>Id</th>
<th>Name</th>
<th>Sport</th>
<th>Surface</th>
<th>Price</th>
<th>Players</th>
</thead>
<tbody>
<tr *ngIf='field'>
  
  <td>{{field.fieldId}}</td>
  <td>{{field.name}}</td>
  <td>{{field.sport}}</td>
  <td>{{field.surface}}</td>
  <td>{{field.price}}</td>
  <td>{{field.players}}</td>
  
</tr>
</tbody>
</table>

