<head><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"></head>
<table class="table-striped">
<thead>
<th>Id</th>
<th>First Name</th>
<th>Last Name</th>
<th>Birth Date</th>
<th>Date of registration</th>
<th>Address</th>
<th>Email</th>
<th>Phone Number</th>
<th>Reservations</th>
<th>Money spent</th>
<th>Challenges</th>
<th>Wins</th>

</thead>
<tbody>
<tr *ngFor='let user of users'>
  
  <td>{{user.userId}}</td>
  <td>{{user.firstName}}</td>
  <td><a [routerLink]="['/user', user.userId]">{{user.lastName}}</a></td>
  <td>{{user.birthDate | date: "dd/MM/yyyy"}}</td>
  <td>{{user.dateOfRegistration | date: "dd/MM/yyyy"}}</td>
  <td>{{user.address}}</td>
  <td>{{user.email}}</td>
  <td>{{user.phoneNumber}}</td>
  <td>{{user.reservations}}</td>
  <td>{{user.spentMoney}}</td> <!--tipo valuta html-->
  <td>{{user.challenges}}</td> 
  <td>{{user.wins}}</td>

  <a [routerLink]="['/user', user.userId, 'edit']">Edit</a>
  
</tr>
</tbody>
</table>

