<head><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"></head>
<table>
<thead>
<th>ID</th>
<th>User ID</th>
<th>Players to insert</th>
<th>Reservation ID</th>

</thead>
<tbody>
<tr *ngIf="challenge">
  
  <td>{{challenge.challengeId}}</td>
  <td>{{challenge.userId}}</td>
  <td>{{challenge.playersToInsert}}</td>
  <td>{{challenge.reservationId}}</td>
  
</tr>
</tbody>
</table>